.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}
#root {
    min-width: 600px;
    background-color: #F5F8FA;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    height: 100%;
}
#asteroid {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}
.props {
    display: inline-block;
    min-width: 300px;
    padding: 5px;
}